<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.angelstone.android.smsblocker" android:versionCode="9"
	android:versionName="1.0.9">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_MMS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<receiver android:name=".receiver.SmsReceivedReceiver">
			<intent-filter android:priority="1020">
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
			<intent-filter android:priority="1020">
				<action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
				<data android:mimeType="application/vnd.wap.mms-message" />
			</intent-filter>
		</receiver>
		<provider android:name=".provider.SmsBlockerProvider"
			android:authorities="com.angelstone.android.smsblocker" />

		<activity android:name=".ui.SmsBlockerMainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.RejectedSmsLogView"
			android:label="@string/app_name" />
		<activity android:name=".ui.RejectedSmsBodyView"
			android:label="@string/logDetailInfo" android:theme="@android:style/Theme.Dialog" />

		<!-- Library Activity -->
		<activity android:name="com.angelstone.android.ui.ActivityLogActivity"
			android:label="@string/activity_log_title" />

		<activity android:name="com.angelstone.android.phonetools.ui.BlackListView"
			android:label="@string/app_name" android:configChanges="keyboardHidden|orientation" />

		<activity android:name="com.angelstone.android.phonetools.ui.AddFromContactView"
			android:label="@string/app_name" android:configChanges="keyboardHidden|orientation" />
		<activity android:name="com.angelstone.android.phonetools.ui.AddFromCallLogView"
			android:label="@string/app_name" android:configChanges="keyboardHidden|orientation" />
		<activity android:name="com.angelstone.android.phonetools.ui.AddFromSmsRecordView"
			android:label="@string/app_name" android:configChanges="keyboardHidden|orientation" />
		<activity android:name="com.angelstone.android.phonetools.ui.AddBlackListNumberView"
			android:label="@string/app_name" android:windowSoftInputMode="stateHidden|adjustResize" />

		<activity android:name="com.angelstone.android.phonetools.ui.InputNumberView"
			android:label="@string/input_number_dlg_title_string" android:theme="@android:style/Theme.Dialog" />
		<activity android:name="com.angelstone.android.phonetools.ui.EditNumberView"
			android:label="@string/app_name" android:windowSoftInputMode="stateHidden|adjustResize" />
		<activity android:name="com.angelstone.android.phonetools.ui.SelectedNumberListView"
			android:theme="@android:style/Theme.Dialog" />
		<activity android:name="com.angelstone.android.phonetools.ui.ClearWaitingDialog"
			android:theme="@android:style/Theme.Dialog" android:configChanges="keyboardHidden|orientation" />
	</application>
	<uses-sdk android:minSdkVersion="4" />
</manifest> 