<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.angelstone.android.callerid" android:versionCode="1"
	android:versionName="1.0.1">
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus"
		android:required="false" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />

	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".ui.YaCallerIdMainView"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="com.angelstone.android.phonetools.ui.CropImage"
			android:process=":CropImage" android:configChanges="orientation|keyboardHidden"
			android:label="@string/crop_label">
		</activity>

        <activity android:name=".ui.CameraPreview" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

	</application>
	<uses-sdk android:minSdkVersion="4" />

</manifest> 