<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.angelstone.android.profileswitcher" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<provider android:name="com.angelstone.android.profileswitcher.provider.ProfileSwitcherProvider"
			android:authorities="com.angelstone.anroid.profileswitcher" />

		<activity android:name=".ui.ProfilesListActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.PROFILE_SWITCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.ProfileSwitcherMainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
		<activity android:name=".ui.SchedulesListActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.PROFILE_SWITCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.ProfileEditActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.PROFILE_SWITCHER" />
			</intent-filter>
		</activity>

		<!-- Library Activity -->
		<activity android:name="com.angelstone.android.ui.ActivityLogActivity"
			android:label="@string/activity_log_title" />
	</application>


</manifest> 